body {
	background-color: skyblue
}

#mainButton {
	font-size: 40px;
}

#thank-you {
	border-radius: 10%;
}

.page--article {
	border: 1px solid black;
	float: left;
}

.nav {
    background-color: green;
    height: 30px;
}

.nav > li {
    float: left;
    list-style-type: none;
    margin: 5px 15px 0 15px;
    font-family: "Arial";
    cursor: pointer;
}

.nav > li:hover {
    color: white;
}

.link--github + li {
	font-size: 29px;
}